/* #myBox{
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  /* YOUR CSS GOES AFTER THIS */
  .target-class {
    position: relative;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  .animated {
    animation: wobble 4s ease 0s infinite normal both;
  }
  @keyframes wobble {
      0%,
      100% {
          transform: translateX(0%);
          transform-origin: 50% 50%;
      }
  
      15% {
          transform: translateX(-30px) rotate(-6deg);
      }
  
      30% {
          transform: translateX(15px) rotate(6deg);
      }
  
      45% {
          transform: translateX(-15px) rotate(-3.6deg);
      }
  
      60% {
          transform: translateX(9px) rotate(2.4deg);
      }
  
      75% {
          transform: translateX(-6px) rotate(-1.2deg);
      }
  }