/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  /* YOUR CSS GOES AFTER THIS */

  body {
    background-color: #FFFFFF;
    color: #000000;
  }
  a {
    color: #0000FF;
  }
  h3 {
    background-color: #333333;
    color: #CCCCCC;
    padding: 2rem;
  }

  #modeToggle {
    margin-bottom: 2rem;
  }
  
  .instructions {
    border-top: 1px solid #000000;
  }
  .instructions ol {
    font-weight: bold;
  }

  .dark-mode {
    background-color: #121212; 
    color: white;     
  }
  .link{
    color: red;
  }